@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: Roboto, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.header, .hero, .footer {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
}

.hero {
  padding: 100px 15%;
  gap: 40px;
}

.header {
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 15% 0;
}

.header h2,
.header ul {
  margin: 0;
}

.header h2 {
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
}

.header-links {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.header-links,
.hero p {
  color: #E5E7EB;
  cursor: pointer;
}

.hero h1 {
  font-size: 48px;
  margin: 0;
}


.hero-left p {
  margin: 12px 0;
  padding: 0;
}


.hero-right {
  background-color: #6d737b;
  font-size: 18px;
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #3882f6;
  border-radius: 8px;
  border: none;
  padding: 10px 40px;
  font-size: 18px;
  font-weight: bold;
  color: #e5e7eb;
  cursor: pointer;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 100px;
}

.content h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  padding-bottom: 50px;
}

.card-container {
  display: flex;
  gap: 50px;
}

.card {
  max-width: 200px;
}

.card-upper {
  height: 200px;
  border: solid #3882f6 5px;
  border-radius: 20px;
}
.card-lower {
  padding: 10px;
  text-align: center;
  color: #646a75;
}

.quote {
  background-color: #E5E7EB;
  padding: 100px 25%;
}

.quote p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
  color: #1F2937;
}

.quote h3 {
  text-align: end;
  font-size: 24px;
  margin: 0;
}

.sign-up {
  margin: 0;
  padding: 120px 15%;
}

.sign-up-container {
  display: flex;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 60px 120px;
  color: #E5E7EB;
}

.sign-up button {
  margin-left: auto;
  border: solid 3px;
  padding: 8px 40px;
  align-self: flex-end;
}

.footer {
  justify-content: center;
  padding: 40px 0;
  color: #E5E7EB;
}